<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.PetSubImgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.PetSubImg">
        <id column="id" property="id" />
        <result column="pet_id" property="petId" />
        <result column="img_url" property="imgUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pet_id, img_url
    </sql>

</mapper>
