<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="description" property="description"/>
        <result column="content" property="content"/>
        <result column="author" property="author"/>
        <result column="pet_id" property="petId"/>
        <result column="type" property="type"/>
        <result column="view_count" property="viewCount"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="withPetAndTypeResultMap" extends="BaseResultMap" type="com.sise.pet.entity.Article">
        <result column="type_name" property="typeName"/>
        <association property="pet" javaType="com.sise.pet.entity.Pet">
            <result column="pet_name" property="name"/>
            <result column="pet_id" property="id"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, description, content, pet_id, type, create_time,view_count
    </sql>

    <!-- 查询某一篇文章的信息 -->
    <select id="getArticleWithPetInfo" resultMap="withPetAndTypeResultMap">
        select
        article.*,
        tmp.label as type_name,
        p.name as pet_name,
        p.id as pet_id
        from article
        left join pet p on article.pet_id = p.id
        left join
        (select * from dict_detail where dict_id in (select id from dict where name ='article_type')) as tmp
        on article.type = tmp.value
        where article.id = #{id}
    </select>

    <select id="getArticlePage" resultMap="withPetAndTypeResultMap">
        select
        article.*,
        tmp.label as type_name,
        p.name as pet_name,
        p.id as pet_id
        from article
        left join pet p on article.pet_id = p.id
        left join
        (select * from dict_detail where dict_id in (select id from dict where name ='article_type')) as tmp
        on article.type = tmp.value
        <where>
            <if test="article.type != null">
                and article.type = #{article.type}
            </if>
            <if test="article.petId != null">
                and article.pet_id = #{article.petId}
            </if>
        </where>
    </select>

    <update id="updateViewCount">
        update article set view_count = view_count+1 where id = #{id}
    </update>
</mapper>
