<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.Comment">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="discussion_id" property="discussionId" />
        <result column="author_id" property="authorId" />
        <result column="parent_id" property="parentId" />
        <result column="to_uid" property="toUid" />
        <result column="level" property="level" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <resultMap id="withDetailInfoResultMap" extends="BaseResultMap" type="com.sise.pet.dto.CommentDto">
        <association property="author" javaType="com.sise.pet.entity.User">
            <result column="a_id" property="id"/>
            <result column="a_username" property="username"/>
            <result column="a_avatar" property="avatar"/>
        </association>
        <association property="toUser" javaType="com.sise.pet.entity.User">
            <result column="t_id" property="id"/>
            <result column="t_username" property="username"/>
            <result column="t_avatar" property="avatar"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, discussion_id, author_id, parent_id, to_uid, level, create_date
    </sql>

    <select id="listCommentsByDiscussion" resultMap="withDetailInfoResultMap">
        select
        comment.*,
        u1.id as a_id,
        u1.username as a_username,
        u1.avatar as a_avatar,
        u2.id as t_id,
        u2.username as t_username,
        u2.avatar as t_avatar
        from comment
        left join user u1 on u1.id = comment.author_id
        left join user u2 on u2.id = comment.to_uid
        <where>
            discussion_id = #{discussionId}
            <if test="level != null">
                and level = #{level}
            </if>
        </where>
        order by create_date asc
    </select>


    <select id="listCommentSubComments" resultMap="withDetailInfoResultMap">
        select
        comment.*,
        u1.id as a_id,
        u1.username as a_username,
        u1.avatar as a_avatar,
        u2.id as t_id,
        u2.username as t_username,
        u2.avatar as t_avatar
        from comment
        left join user u1 on u1.id = comment.author_id
        left join user u2 on u2.id = comment.to_uid
        where parent_id = #{parentId}
        order by create_date desc
    </select>

    <select id="getCommentPage" resultMap="withDetailInfoResultMap">
        select
        comment.*,
        u1.id as a_id,
        u1.username as a_username,
        u1.avatar as a_avatar,
        u2.id as t_id,
        u2.username as t_username,
        u2.avatar as t_avatar
        from comment
        left join user u1 on u1.id = comment.author_id
        left join user u2 on u2.id = comment.to_uid
        <where>
            <if test="comment.discussionId != null">
                and comment.discussion_id = #{comment.discussionId}
            </if>
        </where>
    </select>

</mapper>
