<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.Comment">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="discussion_id" property="discussionId" />
        <result column="author_id" property="authorId" />
        <result column="parent_id" property="parentId" />
        <result column="to_uid" property="toUid" />
        <result column="level" property="level" />
        <result column="create_date" property="createDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, discussion_id, author_id, parent_id, to_uid, level, create_date
    </sql>

</mapper>
