<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.DiscussionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.Discussion">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="view_count" property="viewCount" />
        <result column="author_id" property="authorId" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <resultMap id="withAuthorResultMap" type="com.sise.pet.entity.Discussion" extends="BaseResultMap">
        <result column="comment_count" property="commentCount"/>
        <association property="author" javaType="com.sise.pet.entity.User">
            <result column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="avatar" property="avatar"/>
        </association>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, view_count, author_id, create_time
    </sql>

    <select id="getDetailInfoPage" resultMap="withAuthorResultMap">
       select
        discussion.*,
        user.id,user.username,user.avatar,
        count(comment.id) as comment_count
        from discussion
        left join user on discussion.author_id = user.id
        left join comment on comment.discussion_id = discussion.id
    </select>

    <select id="getSingleDiscussion" resultMap="withAuthorResultMap">
       select
        discussion.*,
        user.id,user.username,user.avatar,
        count(comment.id) as comment_count
        from discussion
        left join user on discussion.author_id = user.id
        left join comment on comment.discussion_id = discussion.id
        where discussion.id = #{id}
    </select>

</mapper>
