<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.PetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.Pet">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="content" property="content" />
        <result column="main_pic" property="mainPic" />
        <result column="view_count" property="viewCount" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result property="subImages" column="sub_images"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, content, main_pic,sub_images,view_count, create_time, modify_time
    </sql>

    <update id="updateViewCount">
        update pet set view_count = view_count+1 where id = #{id}
    </update>

</mapper>
