<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.SysMenu">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="type" property="type" />
        <result column="sub_count" property="subCount"/>
        <result column="title" property="title" />
        <result column="name" property="name" />
        <result column="component" property="component" />
        <result column="menu_sort" property="menuSort" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="i_frame" property="iFrame" />
        <result column="cache" property="cache" />
        <result column="hidden" property="hidden" />
        <result column="permission" property="permission" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, type,sub_count, title, name, component, menu_sort, icon, path, i_frame, cache, hidden, permission, create_by, update_by, create_time, update_time
    </sql>

    <select id="findByRoles" resultMap="BaseResultMap">
        select * from sys_menu
         <where>
             <if test="type != null">
                 and type != #{type}
             </if>
            and id in (
             select menu_id from sys_roles_menus where role_id in
             <foreach item="item" index="index" collection="roleIds" open="(" separator="," close=")">
                 #{item}
             </foreach>
         </where>
        )
    </select>

</mapper>
