<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.SysUser">
        <id column="id" property="id" />
        <result column="dept_id" property="deptId" />
        <result column="username" property="username" />
        <result column="nick_name" property="nickName" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="avatar_name" property="avatarName" />
        <result column="avatar_path" property="avatarPath" />
        <result column="password" property="password" />
        <result column="is_admin" property="isAdmin" />
        <result column="enabled" property="enabled" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="pwd_reset_time" property="pwdResetTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dept_id, username, nick_name, gender, phone, email, avatar_name, avatar_path, password, is_admin, enabled, create_by, update_by, pwd_reset_time, create_time, update_time
    </sql>

</mapper>
