<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sise.pet.mapper.VideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sise.pet.entity.Video">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="thumbnail" property="thumbnail" />
        <result column="url" property="url" />
        <result column="pet_id" property="petId" />
        <result column="description" property="description" />
        <result column="view_count" property="viewCount" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <resultMap id="withPetInfoResultMap" type="com.sise.pet.entity.Video" extends="BaseResultMap">
        <association property="pet" javaType="com.sise.pet.entity.Pet">
            <result column="pet_name" property="name"/>
            <result column="pet_id" property="id"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, thumbnail, url, pet_id, description, view_count, create_time
    </sql>

    <update id="updateViewCount">
        update video set view_count = view_count+1 where id = #{id}
    </update>


    <select id="selectWithPetInfoPage" resultMap="withPetInfoResultMap">
        select video.*,
        p.name as pet_name,
        p.id as pet_id
        from video
        left join pet p on video.pet_id = p.id
        <where>
            <if test="video.petId != null">
                and video.pet_id = #{video.petId}
            </if>
            <if test="video.title != null">
                and video.title like concat('%',#{video.title},'%')
            </if>
        </where>
    </select>

    <select id="selectWithPetInfo" resultMap="withPetInfoResultMap">
        select video.*,
        p.name as pet_name,
        p.id as pet_id
        from video
        left join pet p on video.pet_id = p.id
        where video.id = #{id}
    </select>

</mapper>
